* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  font-size: 16px;
  font-family: Poppins, sans-serif;
  font-size: 1rem;
  line-height: 1.5;
  color: #333;
}

.main-container {
  min-height: 100vh;
  width: 100vw;
  margin: 0 auto;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.content-section {
  width: 100vw;
  flex: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4rem 0;
}

.content-container {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  gap: 30px;
  width: 100%;
  max-width: 1200px;
  margin: 0 100px;
  align-items: center;
}

.content-container h2 {
  font-size: 2.5rem;
  font-family: "EB Garamond", serif;
}

.section-title {
  grid-column: 1 / -1;
  text-align: center;
  margin-bottom: 2rem;
}

.container-bottoni {
  grid-column: 1 / -1;
  text-align: center;
  margin-top: 2rem;
}

/* Hero Section */

.section-hero {
  position: relative;
  height: 100vh; 
  min-height: 100vh; 
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  flex-shrink: 0;
}

.section-hero::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); 
}

.section-hero h1 {
  grid-column: 1 / -1;
  text-align: center;
  color: white;
  position: relative;
  font-size: 4rem;
  font-family: "EB Garamond", serif;
}

/* Bottoni */

.button {
    background-color: #8B2C2C;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 16px;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    border-radius: 6px;
    cursor: pointer;
    transition: all 0.2s ease;
    text-decoration: none;
    display: inline-block;
    text-align: center;
}
