---
import Layout from '../layouts/Layout.astro';
---

<Layout title=''>
  <section class="content-section section-hero" style="background-image: url('../public/images/hero-image-placeholder1.jpg');">
    <div class="content-container">
      <h1>La Nostra Banda</h1>
    </div>
  </section>
</Layout>