---
import Layout from '../layouts/Layout.astro';
---

<Layout title=''>
    <div>
        <button class="btn btn-xs sm:btn-sm md:btn-md lg:btn-lg xl:btn-xl">prova bottone</button>
    </div>
</Layout>

<style>
    div {
        padding: 20px;
        margin-top: 200px;
    }
</style>