---
import Layout from '../layouts/Layout.astro';
---

<Layout title='Eventi'>
    <section class="content-section ection-hero" style="background-image: url('../public/images/hero-image-placeholder1.jpg');">
        <div class="content-container">
            <h1>I Nostri Corsi</h1>
        </div>
    </section>
    <section class="section-prossimi-eventi"></section>
    <section class="section-eventi-passati"></section>
</Layout>