---
import Layout from '../layouts/Layout.astro';
import '../styles/global.css';
import EventCard from '../components/Event-card.astro';
---

<Layout title="Benvenuti nel sito della Banda">

  <!-- HERO SECTION -->
  <section class="section-hero" style="background-image: url('../public/images/hero-image-placeholder1.jpg');">
    <div class="content-container">
      <h1>Filarmonica Senofonte Prato</h1>
    </div>
  </section>

  <section class="section-about">
    <div class="content-container">
      <div class="container-immagine-about">
        <img src="public/images/wes-hicks-MEL-jJnm7RQ-unsplash.jpg" alt="about image" class="home-image" />
      </div>
      <div class="container-testo-about">
        <h2>Chi Siamo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Integer ac euismod ipsum, at hendrerit massa. Maecenas feugiat ac neque 
          vel pellentesque. Curabitur ac ullamcorper massa. Vivamus eu mollis metus. 
          Pellentesque habitant morbi tristique senectus et 
          netus et malesuada fames ac turpis egestas. 
        </p>
        <div class="container-bottoni-about">
          <a href="/corsi" class="button">Scopri i corsi</a>
          <a href="/eventi" class="button">Vedi eventi</a>
        </div>
      </div>
    </div>
  </section>

  <section class="section-eventi">
    <div class="content-container" style="gap: 60px;">
      <div class="section-title">
        <h2>Prossimi Eventi</h2>
      </div>
      <EventCard imageSrc="public/images/events/In-Canto d'Estate.png" imageAlt="Evento 1" href="src/pages/eventi/evento-1.astro"/>
      <EventCard imageSrc="public/images/events/Corsi di Musica 2025.png" imageAlt="Evento 2" href="src/pages/eventi/evento-2.astro"/>
      <EventCard imageSrc="public/images/events/Distopia della Farfalla.png" imageAlt="Evento 3" href="src/pages/eventi/evento-3.astro"/>
      <div class="container-bottoni">
        <a href="/eventi" class="button">Vedi tutti gli eventi</a>
      </div>
    </div>
  </section>

  <section class="section-banda">
    <div class="content-container"></div>
  </section>

  <section class="section-corsi">
    <div class="content-container"></div>
  </section>

  <section class="section-news">
    <!--     <div class="content-container">
      <div class="container-immagine-about">
        <img src="public/images/wes-hicks-MEL-jJnm7RQ-unsplash.jpg" alt="about image" class="home-image" />
      </div>
      <div class="container-testo-about">
        <h2>Chi Siamo</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
          Integer ac euismod ipsum, at hendrerit massa. Maecenas feugiat ac neque 
          vel pellentesque. Curabitur ac ullamcorper massa. Vivamus eu mollis metus. 
          Pellentesque habitant morbi tristique senectus et 
          netus et malesuada fames ac turpis egestas. 
        </p>
        <div class="container-bottoni-about"></div>
      </div>
    </div> -->
  </section>

  <!-- 
  <section class="section-about">
    <div class="home-container">
      <div class="grid">
        <div class="col-6">
          <img src="public/images/wes-hicks-MEL-jJnm7RQ-unsplash.jpg" alt="about image" class="home-image" />
        </div>
        <div class="col-6">
          <h2>Chi Siamo</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. 
            Integer ac euismod ipsum, at hendrerit massa. Maecenas feugiat ac neque 
            vel pellentesque. Curabitur ac ullamcorper massa. Vivamus eu mollis metus. 
            Pellentesque habitant morbi tristique senectus et 
            netus et malesuada fames ac turpis egestas. 
          </p>
          <p>Sed ultrices imperdiet aliquet. Mauris suscipit ultrices justo eu pulvinar. 
            Vestibulum vitae rutrum felis. Nulla id sem ac ipsum volutpat ultrices.
          </p>
          <div class="container-bottoni">
            <a href="/corsi" class="button">Scopri i corsi</a>
            <a href="/eventi" class="button">Vedi eventi</a>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section-eventi">
    <div class="home-container">
      <h2>Prossimi Eventi</h2>
      <div class="grid">
        <div class="col-12">
          <HorizontalCard
            title="Card Title"
            subtitle="Card Subtitle"
            description="Your description here"
            imageUrl="public/images/events/In-Canto d'Estate(4).png"
          />
        </div>
      </div>
      <ul>
        <li><a href="/eventi/evento-1">Evento 1</a></li>
        <li><a href="/eventi/evento-2">Evento 2</a></li>
        <li><a href="/eventi/evento-3">Evento 3</a></li>
      </ul>
    </div>
  </section>


  <section class="section-banda">
    <div class="home-container">
      <h2>La nostra Banda</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida, ligula porttitor
        semper eleifend, elit nisi ultricies nulla, quis laoreet ligula ante suscipit sem. 
      </p>
    </div>
  </section>


  <section class="section1-corsi">
    <div class="home-container">
      <h2>Corsi di Musica</h2>
      <ul>
        <li><a href="/corsi">Settore Classico</a></li>
        <li><a href="/corsi">Settore Moderno</a></li>
        <li><a href="/corsi">Canto</a></li>
        <li><a href="/corsi">Propedeutica</a></li>
      </ul>
    </div>
  </section>

  <section class="section2-corsi">
    <div class="home-container">
      <h2>I nostri Corsi</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida, ligula porttitor
        semper eleifend, elit nisi ultricies nulla, quis laoreet ligula ante suscipit sem. 
      </p>
      <div class="container-bottoni">
        <a href="/corsi" class="button">Scopri i Corsi</a>
      </div>
    </div>
  </section>


  <section class="section-news">
    <div class="home-container">
      <h2>News</h2>
      <ul>
        <li><a href="/news/news-1">News 1</a></li>
        <li><a href="/news/news-2">News 2</a></li>
        <li><a href="/news/news-3">News 3</a></li>
      </ul>
      <div class="container-bottoni">
        <a href="/news" class="button">Vedi le News</a>
      </div>
    </div>
  </section> CHI SIAMO SECTION -->
</Layout>

<style>

  .section-hero, .section-about, .section-eventi, .section-banda, .section1-corsi, .section2-corsi, .section-news {
    width: 100vw;
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0;
  }

  /* ABOUT SECTION */

  .container-immagine-about {
    grid-column: 1 / span 6;
  }

  .container-immagine-about img {
    width: 100%;
    height: auto;
    display: block;
    max-width: 100%;
    border-radius: 16px;
  }

  .container-testo-about {
    grid-column: 7 / span 6;
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
  }

  .container-testo-about h2 {
    margin: 0;
    padding: 0;
    align-self: flex-start;
  }

  .container-testo-about p {
    flex-grow: 1;
    margin: 50px 0 0 0;
  }

  .container-bottoni-about {
    margin-top: auto; 
    display: flex;
    gap: 15px; 
    align-self: flex-start; 
  }

  /* EVENTI SECTION */

  .evento1, .evento2, .evento3 {
    background-color: #ccc;
    height: 500px;
    border-radius: 16px;
  }

  .evento1 {
    grid-column: 1 / span 4;
  }

  .evento2 {
    grid-column: 5 / span 4;
  }

  .evento3 {
    grid-column: 9 / span 4;
  }

</style>
