---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Benvenuti nel sito della Banda">
  <h1>Benvenuti nel sito della Banda</h1>
  <p>Qui troverete informazioni sui nostri corsi, eventi e la nostra storia.</p>
</Layout>
