---
// Footer.astro
---

<footer class="footer">
  <div class="footer-content">
    <div class="footer-col">
        <a href="/" class="logo-link">
          <img src="../public/images/logo-fsp-website.png" alt="Logo" class="logo" />
        </a>
        <p>555 - 9988888</p>
        <p>555 - 9988888</p>
        <p>indirizzo</p>
    </div>
    <div class="footer-col">
        <p>Home</p>
        <p>Eventi</p>
        <p>Corsi</p>
        <p>Storia</p>
        <p>Banda</p>
        <p>News</p>
    </div>
    <div class="footer-col"></div>
  </div>
</footer>

<style>
  .footer {
    background-color: #2A3A5E;
    color: white;
    padding: 2rem 0;
    margin-top: auto;
  }

  .footer-content {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 60px;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
    align-items: start;
  }

  .logo {
    height: 64px;
    width: auto;
    margin-bottom: 20px;
  }
</style>